<%= form_for @farm_store_item, html: {:multipart => true} do |f| %>
  <%= error_explanation(@farm_store_item) %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :name, :class => 'control-label' %>
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div><!--col -->

    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :quantity, :class => 'control-label' %>
        <%= f.text_field :quantity, :class => 'form-control', :placeholder => 'total in stock..' %>
      </div>
    </div><!--col -->
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :quantity_label, :class => 'control-label' %>
        <%= f.text_field :quantity_label, :class => 'form-control', :placeholder => 'shirt OR gram OR bouquet OR box of shells..' %>
      </div>
    </div><!--col -->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :description, :class => 'control-label' %>
        <%= f.bootsy_area :description, class: 'form-control' %>
      </div>
    </div><!-- col -->
  </div><!-- row -->


  <%= f.file_field :mountable_images_cache, :multiple => true, :class => 'hidden' %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :mountable_images, 'Images <small>select many</small>'.html_safe %>
        <%= f.file_field :mountable_images, :multiple => true, class: 'form-control' %>
      </div>

      <!--<div class="form-group"> todo-->
        <%#= f.label :remote_mountable_images_urls, 'or Paste URLs <small>separate by commas(,)</small>'.html_safe, :class => 'control-label' %>
        <%#= f.text_field :remote_mountable_images_urls, class: 'form-control' %>
      <!--</div>-->
    </div><!-- col -->

    <div class="col-sm-6">
      <% @farm_store_item.mountable_images.each do |img| -%>
        <div class="mountable_image_container">
          <%= image_tag img.image.url(:thumb) %>
          <%= link_to('delete', mountable_image_path(img), :method => :delete, :remote => true,
                      :confirm => 'This will delete this image permanently. Are you sure?',
                      id: "mountable_image_delete_link_#{img.id}") %>
        </div>
      <% end -%>
    </div>

  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12 well">
      <h3>Pricing Options</h3>
      <%= f.fields_for :farm_store_pricings do |pricing_fields| -%>
        <div class="form-inline">
          <div class="form-group">
            <%= pricing_fields.label :name, 'Label', :class => 'control-label' %>
            <%= pricing_fields.text_field :name, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= pricing_fields.label :quantity, :class => 'control-label' %>
            <%= pricing_fields.text_field :quantity, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= pricing_fields.label :price, :class => 'control-label' %>
            <%= pricing_fields.text_field :price, :class => 'form-control' %>
          </div>
        </div>
      <% end -%>
    </div><!-- col -->
    <!--<div class="col-sm-6"></div>&lt;!&ndash; col &ndash;&gt;-->
    <br><br>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div><!-- row -->
<% end %>

